@page
@model MyStore_WebApp.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .login_Form {
        margin: 100px auto;
        text-align: center;
        height: 500px;
        width: 300px;
        background-color: rgb(207, 233, 255);
    }

    .input1 {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    h2 {
        padding-top: 40px;
        font-size: 40px;
        margin-top: 30px;
        color: rgb(109, 109, 255);
    }

    .input2 {
        padding-bottom: 20px;
    }

    input {
        height: 30px;
        width: 200px;
        border-radius: 5px;
        border: 3px solid rgb(125, 125, 255);
        background-color: rgb(238, 247, 255);
    }

    button {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(125, 125, 255);
        border: none;
        color: azure;
        font-size: 16px;
        font-weight: 600;
    }

        button:hover {
            cursor: pointer;
            background-color: rgb(105, 105, 255);
        }
</style>
<body>
    <form class="login_Form" method="post">
        <h2>Login</h2>
        <div class="input1">
            <input type="text" id="Username" name="Username" placeholder="Username" required />
        </div>
        <div class="input2">
            <input type="password" id="Password" name="Password" placeholder="Password" required />
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>
