@page
@model MyStore_WebApp.Pages.Account.ProfileModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .avt {
            text-align: center;
        }

        img {
            width: 200px;
        }

        .info {
            text-align: center;
        }

        p {
            font-weight: 700;
            font-size: 20px;
        }

        button {
            border-radius: 5px;
            border: none;
            background-color: rgb(99, 99, 255);
            color: white;
            height: 30px;
        }

            button:hover {
                background-color: rgb(86, 40, 255);
                cursor: pointer;
            }

        .changepass {
            margin: 0 auto;
            width: 200px;
            display: flex;
            margin-top: 20px;
            flex-direction: column;
        }

        input {
            padding: 5px;
            margin-top: 10px;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="profile">
        <div class="avt">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small_2x/user-profile-icon-free-vector.jpg" alt="">
        </div>
        <div class="info">
            @if (HttpContext.Session.GetInt32("Role") == 0)
            {
                <p>@HttpContext.Session.GetString("Username")</p>
                <p>Staff</p>
                <button onclick="ChangePass()">Change Pass</button>
                @if (ViewData["ErrorMessage"] != null)
                {
                    <p class="text-danger">@ViewData["ErrorMessage"]</p>
                }
            }
            else
            {
                <p>@HttpContext.Session.GetString("Username")</p>
                <p>Admin</p>
            }
        </div>
        <div class="changepass hidden">
            <form method="post">
                <input type="password" name="oldpass" placeholder="Old password" required>
                <input type="password" name="newpass" placeholder="New password" required>
                <input type="password" name="cfpass" placeholder="Confirm password" required>
                <button type="submit" style="margin-top: 10px;">Change</button>
            </form>
        </div>
    </div>
    <script>
        function ChangePass() {
            var changepassDiv = document.getElementsByClassName("changepass")[0];
            if (changepassDiv.classList.contains("hidden")) {
                changepassDiv.classList.remove("hidden");
            } else {
                changepassDiv.classList.add("hidden");
            }
        }
    </script>
</body>
</html>