@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (HttpContext.Session.GetInt32("Role") == 0)
    {
        <h1 class="display-4">Welcome to Staff dashboard</h1>
    }
    else if (HttpContext.Session.GetInt32("Role") == 1)
    {
        <h1 class="display-4">Welcome to Admin dashboard</h1>
    }
    else
    {
        <h1 class="display-4">Please log in</h1>
    }

</div>
